.page-home
{
    $background-color: #fcfcfc;
    .search-filters
    {
        .auth-state
        {
            .user
            {
                .user-cabinet
                {
                    font-size: 1.125em;

                    margin-right: .5em;

                    cursor: pointer;
                    cursor: pointer;
                    transition: color $transition ease-in-out, border $transition ease-in-out;

                    color: $color-form;
                    border-bottom: 1px solid $color-form;
                    &:hover
                    {
                        color: $color-green;
                        border-bottom: 1px solid $color-green;
                    }
                }
                .logout
                {
                    cursor: pointer;
                    transition: opacity $transition ease-in-out;

                    opacity: 1;
                    &:hover
                    {
                        opacity: .6;
                    }
                }
            }
            .siteUrl
            {
                padding-top: .2em;
                a
                {
                    transition: color $transition ease-in-out;

                    color: #666;
                    &:hover
                    {
                        color: $color-green;
                    }
                }
            }
        }
        .search-form-box
        {
            padding: 1.375em 0;
            .colored
            {
                color: $color-form;
            }
            .filters
            {
                padding: 15px 0;

                background: $background-color;
            }
            form
            {
                font-size: .875em; //14px;
                input
                {
                    height: 26px;

                    border: 1px solid #aaa !important;
                }
                input:not(.select2-input),
                textarea:not(.select2-input)
                {
                    display: inline-block;

                    width: 100%;
                    padding: 0 8px;

                    color: #666;
                    border: none;
                    outline: none;
                    background: #fff;
                    box-shadow: none;
                    ::-webkit-input-placeholder
                    {
                        /* Chrome/Opera/Safari */
                        color: #666;
                    }
                    ::-moz-placeholder
                    {
                        /* Firefox 19+ */
                        color: #666;
                    }
                    :-ms-input-placeholder
                    {
                        /* IE 10+ */
                        color: #666;
                    }
                    :-moz-placeholder
                    {
                        /* Firefox 18- */
                        color: #666;
                    }
                }
                .keyword-box
                {
                    padding: 8px;

                    background: $color-form;
                    input
                    {
                        padding: 1em .6em;

                        border: none !important;
                    }
                }
                .selects-row
                {
                    padding-bottom: 1.2em;
                }
                .checkbox-row
                {
                    padding: 1.2em 0;
                    .checkbox-box.show-out-of-stock
                    {
                        border: 1px solid $color-blue;
                    }
                    .padding-box
                    {
                        padding-top: .6em 0;
                    }
                    .checkbox-box
                    {
                        transform: translateY(10px);
                    }
                }
                .select-box
                {
                    .value-box
                    {
                        padding-bottom: 7px;
                        .value
                        {
                            padding-left: .6em;

                            color: $color-form;
                        }
                    }
                }
                .small-inputs
                {
                    text-align: right;
                    .small
                    {
                        width: 7em;
                    }
                    .floated
                    {
                        float: left;

                        padding-top: 3px;
                    }
                }
                .btns
                {
                    .btn
                    {
                        width: 100%;
                    }
                }
                // Select2 part
                .select2-container
                {
                    width: 100% !important;
                }
                .select2-container .select2-choice
                {
                    width: 100% !important;

                    border: 1px solid #aaa !important;
                    border-radius: 0 !important;
                    outline: none !important;
                    background: #fff !important;
                    box-shadow: none !important;
                }
                .select2-container .select2-choice .select2-arrow
                {
                    border: none !important;
                    background: transparent !important;
                }
                .select2-container .select2-choice .select2-arrow b
                {
                    background: url('/app/assets/img/icons/arrow.png') center center no-repeat !important;
                }
                .select2-dropdown-open .select2-choice .select2-arrow b
                {
                    background: url('/app/assets/img/icons/arrow-up.png') center center no-repeat !important;
                }
                .select2-container-active .select2-choice,
                .select2-container-active .select2-choices
                {
                    border: 1px solid #aaa !important;
                }
                .select2-drop
                {
                    border: 1px solid #aaa !important;
                    border-radius: 0 !important;
                }
                .select2-search input
                {
                    padding: 0 !important;
                }
                .select2-results .select2-highlighted
                {
                    background: $color-form !important;
                }
                .select2-search
                {
                    padding-top: 5px;
                }
                .ui-select-focusser.ui-select-offscreen
                {
                    display: none !important;
                    visibility: hidden !important;
                }
                .ui-select-search.select2-input
                {
                    width: 98% !important;
                }
            }
        }
    }
    .search-results
    {
        .item
        {
            overflow: hidden;

            height: 8.750em; //140px
            margin-bottom: .750em;
            padding: .5em;

            background: $background-color;
            .table
            {
                height: 100%;
                .cell
                {
                    vertical-align: bottom;
                }
            }
            .btns
            {
                .spacer
                {
                    height: 10px;
                }
                .btn-box
                {
                    padding-top: .35em 0;
                }
            }
            .info
            {
                position: relative;

                padding-left: 10px;
                .characteristic
                {
                    padding-top: .15em;

                    color: #484848;
                }
                .pinned-to-top
                {
                    position: absolute;
                    top: 0;
                }
            }
            .thumb
            {
                position: relative;

                overflow: hidden;

                height: auto;

                transition: opacity $transition ease-in-out;

                opacity: 1;
                background: #fff;
                a
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;
                }
                &:hover
                {
                    opacity: .6;
                }
            }
            .price
            {
                padding: .688em 1.125em;

                color: $color-blue;
                background: #fff;
            }
        }
    }
}
