<div class="page-home">

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Настройка социальных сетей</h3>
	  </div>
	  <div class="panel-body">
	    

      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">VK</label>
            <div class="col-lg-10">
              <input type="text" 
                     ng-model="globalSettingsCtrl.model.social.vk" class="form-control" id="inputEmail" placeholder="http://vk.com/">
            </div>
          </div>
           <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Facebook</label>
            <div class="col-lg-10">
              <input type="text" 
                     ng-model="globalSettingsCtrl.model.social.facebook" class="form-control" id="inputEmail" placeholder="https://www.facebook.com/">
            </div>
          </div>
           <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Instagram</label>
            <div class="col-lg-10">
              <input type="text" 
                     ng-model="globalSettingsCtrl.model.social.instagram" class="form-control" id="inputEmail" placeholder="https://www.instagram.com/">
            </div>
          </div>
           <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Youtube</label>
            <div class="col-lg-10">
              <input type="text" 
                     ng-model="globalSettingsCtrl.model.social.youtube" class="form-control" id="inputEmail" placeholder="https://www.youtube.com/">
            </div>
          </div>
        </fieldset>
      </form>
      
      <a class="btn btn-success" ng-click="globalSettingsCtrl.updateModel();">Сохранить</a>

	  </div>
	</div>

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Настройка контактных данных</h3>
	  </div>
	  <div class="panel-body">
	    <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Контактный телефон</label>
            <div class="col-lg-10">
              <input type="text" 
                     ng-model="globalSettingsCtrl.model.contact.phone" class="form-control" id="inputEmail" placeholder="">
            </div>
          </div>
           <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Контактный email</label>
            <div class="col-lg-10">
              <input type="text" 
                     ng-model="globalSettingsCtrl.model.contact.email" class="form-control" id="inputEmail" placeholder="">
            </div>
          </div>
        </fieldset>
      </form>
      <a class="btn btn-success" ng-click="globalSettingsCtrl.updateModel();">Сохранить</a>


	  </div>
	</div>


</div>