<div class="page-account-approvement">
  <div class="back-btn">
    <a ui-sref="home.registeredUsers" class="btn btn-primary"><i class="fa fa-angle-left"></i> Назад</a>
    &nbsp;&nbsp;
    <a ng-click="registeredUserInfoCtrl.deleteUser()" class="btn btn-danger">Удалить пользователя</a>
    <br>
    <br>
  </div>
  <div class="jumbotron clearfix">
    <div class="col-xs-12">
      <table class="table  account-approvement-table table-striped table-hover ">
        <thead>
          <tr>
            <th>Название</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Тип регистрации: </td>
            <td>{{registeredUserInfoCtrl.model.user.registrationType}}</td>
          </tr>
          <tr>
            <td>Номер ЕДРПОУ или инд. номер ля физлиц: </td>
            <td>{{registeredUserInfoCtrl.model.user.edrpou}}</td>
          </tr>
          <tr>
            <td>Имя и фамилия физлица / Название организации: </td>
            <td>{{registeredUserInfoCtrl.model.user.fio}}</td>
          </tr>
          <tr>
            <td>web-ресурс или итернет-магазин (если есть): </td>
            <td>{{registeredUserInfoCtrl.model.user.userSiteURL}}</td>
          </tr>
          <tr>
            <td>Номер телефона: </td>
            <td>{{registeredUserInfoCtrl.model.user.phone}}</td>
          </tr>
          <tr>
            <td>E-mail почта: </td>
            <td>{{registeredUserInfoCtrl.model.user.email}}</td>
          </tr>
          <tr>
            <td>E-mail почта для получения номеров декларации: </td>
            <td>{{registeredUserInfoCtrl.model.user.declarationEmail}}</td>
          </tr>
          <tr>
            <td>Сфера деятельности: </td>
            <td>
              <span ng-repeat="item in registeredUserInfoCtrl.model.user.providedServices" ng-show="item.isChecked">{{item.value}} <br></span>
            </td>
          </tr>
          <tr>
            <td>Название и физический адрес локаций: </td>
            <td>{{registeredUserInfoCtrl.model.user.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="location-photos col-xs-12" ng-if="registeredUserInfoCtrl.model.user.files && registeredUserInfoCtrl.model.user.files.length > 0">
    <br>
      Фотографии локаций:
      <br>
      <div class="items-set">
        <div class="item col-xs-12 col-md-4" ng-repeat="file in registeredUserInfoCtrl.model.user.files">
          <a href="{{file}}"  fancybox>
            <img ng-src="{{file}}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>