<!-- Starts mobile menu button -->
<!-- <button class="open-mobile-nav hamburger hamburger--spring" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button> -->
<!-- Ends mobile menu button -->

<!-- Starts Header -->
<header>
	<div class="menu">
		<div class="container">
			<div class="col-xs-12">
				<div class="table">
					<div class="logo cell" ui-sref="home"><img src="/app/assets/img/logo.png" alt=""></div>
				   	<ul class="navigation cell">
						<li>
							<a ui-sref="home" ui-sref-active="active">Главная</a>
					   	</li>
					   	<li>
							<a href="" ui-sref-active="active">Новости</a>
					   	</li>
					   	<li>
							<a href="" ui-sref-active="active">Реставрация дисков</a>
					   	</li>
					   	<li>
							<a href="" ui-sref-active="active">Фотогалерея</a>
					   	</li>
					   	<li>
							<a href="" ui-sref-active="active">Контакты</a>
					   	</li>
				   	</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="header-nav">
		<div class="container">
			<div class="item col-xs-12 col-md-4">
				<a ui-sref="downloadRelevantStock" ui-sref-active="active">
					<img src="/app/assets/img/icons/download-icon.png" alt="">Скачать актуальное наличие
				</a>
			</div>
			<div class="item col-xs-12 col-md-4">
				<a ui-sref="downloadRelevantUnderTheOrder" ui-sref-active="active">
					<img src="/app/assets/img/icons/download-icon.png" alt="">Скачать список дисков под заказ
				</a>
			</div>
			<div class="item col-xs-12 col-md-4">
				<a href="">
					<img src="/app/assets/img/icons/user-icon.png" alt="">работа с клиентом
				</a>
			</div>
		</div>
	</div>
	
  
</header>
<!-- Ends header -->

