<!-- Starts Header -->
<header>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="col-xs-12">
    	<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" ui-sref="home">
	      	<img src="/cms/app/assets/img/logo.png" alt="">
	      </a>
	    </div>
    </div>
  </div>
</nav>
</header>
<!-- Ends header -->


