<!-- Content wrapper -->
<div class="app-content">
	<div class="container">
		<div class="top-nav clearfix">
			<ul class="nav nav-pills">
			   <li ui-sref-active="active"><a ui-sref="home.globalSettings">Главная<span class="sr-only">(current)</span></a></li>
		        <li><a href="/">Перейти на сайт</a></li>
		        <li><a ng-click="homeCtrl.logout()">Выйти</a></li>
	      </ul>
		</div>
		<br>
		<div class="cms-navigation col-xs-12 col-md-4 col-lg-3">
			<ul class="nav nav-pills nav-stacked">
			  <li ui-sref-active="active"><a ui-sref="home.globalSettings">Основные настройки сайта</a></li>
			  <li ui-sref-active="active"><a ui-sref="home.accountApprovement">Запросы на регистрацию 
			  	<!-- <span class="badge">4</span> -->
			  </a></li>
              <li ui-sref-active="active"><a ui-sref="home.registeredUsers">Зарегистрированные пользователи</a></li>
              <li ui-sref-active="active"><a ui-sref="home.dbsync">Синхронизация базы</a></li>
			</ul>
		</div>
		
		<div class="app-view col-xs-12 col-md-8 col-lg-9">
    		<ui-view></ui-view> 
		</div>
	</div>
</div>