<div class="page-download-relevatn-in-stock">
	<div class="container">
		<h1 class="page-title"><img src="/app/assets/img/icons/download-icon-blue.png" alt="">Скачать актуальное наличие</h1>
		<div class="download-all align-center">
			<a target="_self" download href="/app/assets/download/example.zip" class="btn blue flex">
				Скачать все прайсы
			</a>
		</div>

		<div class="prices-set clearfix">
			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/1.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/2.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/3.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/4.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/1.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/2.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/3.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item col-xs-12 col-md-4 col-lg-3">
				<div class="content">
					<div class="thumb" style="background: url(/app/assets/img/brands/4.jpg) center center no-repeat; background-size: 70% auto;">
					</div>
					<div class="download-options clearfix">
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.xls">.XLS</a>
						</div>
						<div class="align-center col-xs-6">
							<a target="_self" download href="/app/assets/download/example.csv">.CSV</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>