<div class="page-contacts section light">
        <div class="container">
            <div class="align-center">
                <div class="section-title-wr">
                    <div class="section-title">
                        Почему мы 
                    </div>
                </div>
                {{contactsCtrl.googleMapsUrl}}
                <div class="col-xs-12 col-sm-10 col-md-8 centered-bootstrap-cell">
               		<div
               			map-lazy-load-params="contactsCtrl.googleMapsUrl">
  						<ng-map center="41,-87" zoom="3"></ng-map>
					</div>
                </div>
            </div>
        </div>
    </div>