.page-download-relevatn-in-stock
{
    .page-title
    {
        font-size: 1em;

        padding-bottom: 1em;

        text-align: center;
        text-transform: uppercase;

        color: $color-blue;
        img
        {
            padding-right: .5em;

            transform: translateY(-4px);
        }
    }
    .download-all
    {
        padding-bottom: 1em;
    }
    .prices-set
    {
    	padding-top: 1.5em;
        .item
        {
        	margin-bottom: 2.063em;
            .thumb
            {
                height: 7em; //100px

                border: 1px solid #ccc;
            }
            .download-options
            {
                padding: .688em 0;

                background: $color-blue;
                a
                {
                    font-size: 1.125em;

                    transition: color $transition ease-in-out;
                    text-transform: uppercase;

                    color: #fff;
                    &:hover
                    {
                        color: rgba(0,0,0,.3);
                    }
                }
            }
            &:nth-child(4n+1){
            	clear: left;
            }
        }
    }
}
