<div class="page-register">
	<div class="container">
		<h1 class="page-title">Регистрация нового пользователя</h1>
		
		<div class="col-xs-12">
			<div class="register-form form-box">
				<form name="registerForm">
					<div class="col-xs-12 col-md-5">
						
						<div class="input-box clearfix">
							<div class="fl">
								<div class="box">
									<div class="checkbox-box show-out-of-stock">
										<input type="radio"  value="person" id="registrationTypePerson" checked name="registrationTypePerson"
										ng-model="registerCtrl.userData.registrationType"/>
										<label for="registrationTypePerson"></label>
									</div>
									Физлицо - Предприниматель
								</div>
							</div>
							<div class="fr">
								<div class="box">
									<div class="checkbox-box show-out-of-stock">
										<input type="radio" value="organizaition" id="registrationTypeOrganization" name="registrationTypeOrganization"
										ng-model="registerCtrl.userData.registrationType"/>
										<label for="registrationTypeOrganization"></label>
									</div>
									Организация
								</div>
							</div>
						</div>
						
						<div class="input-box clearfix"
							ng-class="{ 'error': registerForm.edrpou.$dirty && registerForm.edrpou.$error.required}">
							<label for="">Номер ЕДРПОУ или инд. номер ля физлиц</label>
							<div>
								<input type="text" name="edrpou" id="edrpou"
								ng-model="registerCtrl.userData.edrpou" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': registerForm.fio.$dirty && registerForm.fio.$error.required}">
							<label for="">Имя и фамилия физлица / Название организации</label>
							<div>
								<input type="text" name="fio" id="fio" ng-model="registerCtrl.userData.fio" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							class="input-box clearfix">
							<label for="">web-ресурс или итернет-магазин (если есть)</label>
							<div>
								<input type="text" name="userSiteURL" id="userSiteURL" ng-model="registerCtrl.userData.userSiteURL"/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': registerForm.phone.$dirty && registerForm.phone.$error.required}">
							<label for="">Номер телефона</label>
							<div>
								<input type="text" name="phone" id="phone" ng-model="registerCtrl.userData.phone" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': registerForm.email.$dirty && registerForm.email.$error.required || registerForm.email.$error.pattern}">
							<label for="">E-mail почта</label>
							<div>
								<input type="email" name="email" id="email" ng-model="registerCtrl.userData.email" ng-pattern="registerCtrl.emailFormatRegex" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': registerForm.declarationEmail.$dirty && registerForm.declarationEmail.$error.required || registerForm.declarationEmail.$error.pattern}">
							<label for="">E-mail почта для получения номеров декларации</label>
							<div>
								<input type="email" name="declarationEmail" id="declarationEmail" ng-model="registerCtrl.userData.declarationEmail" ng-pattern="registerCtrl.emailFormatRegex" required/>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-1"></div>
					<div class="col-xs-12 col-md-6">
						<div class="input-box clearfix">
							<label for="">Сфера деятельности</label>
							<br>
							<br>
							<ul>
								<li ng-repeat="service in registerCtrl.userData.providedServices">
									<div class="checkbox-box show-out-of-stock">
										<input type="checkbox"
										name="{{service.name}}"
										id="provided-service-{{service.name}}"
										ng-model="service.isChecked">
										<label for="provided-service-{{service.name}}"></label>
									</div> {{service.value}}
								</li>
							</ul>
						</div>
						<div class="input-box clearfix">
							<p>
								Укажите название и физический адрес ваших локаций, если их несколько - указывайте через запятую, также укажите все адреса ваших сайтов или интернет-магазинов, если они у вас есть:
							</p>
							<br>
							<textarea name="address" id="address" ng-model="registerCtrl.userData.address" cols="30" rows="13"></textarea>
						</div>
					</div>
					
					<!-- File upload -->
					<div class="col-xs-12 images-upload">
						<br>
						<br>
						<p>Если у вас есть физические локации, где вы реализуее свои товары и/или услуги (шиномонтаж, магазин и т.д.) - вам необходимо подтвердить их наличие, а именно загрузить от 2-х до 4-х фотографий вашего магазина. Обязательно нужно сфотографировать фасад и торговое (или сервисное  - если это шиномонтаж или автосервис) помещение.</p>
						<div class="locations-files-upload">
							<div class="file-upload-wr">
								<div ngf-drop ng-model="registerCtrl.userData.filess" ngf-change="registerCtrl.fileUpdated($files)" class="drop-box">
									<br>
									<button class="btn blue flex"
									ngf-multiple="true"
									ngf-select
									name="file"
									ng-model="registerCtrl.userData.files"
									ngf-change="registerCtrl.fileUpdated($files)"
									name="file">
									&nbsp;&nbsp;&nbsp;&nbsp;выбрать файлы&nbsp;&nbsp;
									<span ng-if="registerCtrl.uploadedFilesLength">
									| &nbsp;файлов загружено: {{registerCtrl.uploadedFilesLength}}</span>
									&nbsp;&nbsp;</button> 

									&nbsp;&nbsp;&nbsp;
									<button ng-if="registerCtrl.uploadedFilesLength" class="btn blue flex" ng-click="registerCtrl.resetFiles();">удалить загрузки</button> 
									
								</div>
							</div>
							<br>
							<p ng-if="registerCtrl.uploadedFilesLength && (registerCtrl.uploadedFilesLength < 2 || registerCtrl.uploadedFilesLength > 4)">
								Вы можете загрузить от 2-х до 4-х фотографий включительно!
							</p>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="input-box clearfix">
							<br>
							<br>
							<br>
							<div>
								<div class="checkbox-box show-out-of-stock">
									<input
									ng-model="registerCtrl.isUserAgreedCheck"
									type="checkbox" value="None" id="isUserAgreed" name="isUserAgreed" />
									<label for="isUserAgreed"></label>
								</div> Я согласен на сохранение и обработку моих персональных данных в системе  сайта opt.koleso.cv.ua
							</div>
							<br>
							<br>
							<button
							ng-click="!registerCtrl.register()"
							ng-disabled=" registerForm.$invalid ||
							!registerCtrl.isUserAgreedCheck || (registerCtrl.userData.files && (registerCtrl.uploadedFilesLength < 2 || registerCtrl.uploadedFilesLength > 4))"
							class="btn blue flex" style="font-size: 1.286em">Зарегистрироваться</button>
						</div>
						
					</div>
					
				</form>
			</div>
		</div>
		
	</div>
</div>