.page-register
{
    .page-title
    {
        font-size: 1.375em; //22px

        padding-bottom: 1.6em;

        text-align: center;
        text-transform: uppercase;

        color: $color-blue;
    }
    .register-form
    {
        font-size: .875em;
        input:not(.select2-input),
        input:not([type='checkbox']),
        textarea:not(.select2-input)
        {
            display: inline-block;

            width: 100%;
            height: 38px;
            padding: 0 8px;

            resize: none !important;

            color: #666;
            border: 1px solid #aaa !important;
            border: none;
            outline: none;
            background: #fff;
            box-shadow: none;
            ::-webkit-input-placeholder
            {
                /* Chrome/Opera/Safari */
                color: #666;
            }
            ::-moz-placeholder
            {
                /* Firefox 19+ */
                color: #666;
            }
            :-ms-input-placeholder
            {
                /* IE 10+ */
                color: #666;
            }
            :-moz-placeholder
            {
                /* Firefox 18- */
                color: #666;
            }
        }
        textarea:not(.select2-input)
        {
            padding: 8px !important;
            height: inherit !important;
        }
        label
        {
            display: inline-block;

            padding-bottom: .4em;
        }
        .input-box
        {
            padding: .6em 0;
            &.error
            {
                input,
                textarea
                {
                    border: 1px solid red !important;
                }
            }
        }
    }

    .temp-uploaded-files{
        ul{
            li{
                display: inline-block;
                padding: 0.5em;
                .thumb{
                    border-radius: 50%;
                    width: 6em;
                    height: 6em;
                    overflow: hidden;
                }
            }
        }
    }
}
