<div class="page-register">
	<div class="container">
		<h1 class="page-title">Редактирование анкетных данных</h1>
		
		<div class="col-xs-12">
			<div class="register-form form-box">
				<form name="userEditForm">
					<div class="col-xs-12 col-md-5">
						
						<div class="input-box clearfix">
							<div class="fl">
								<div class="box">
									<div class="checkbox-box show-out-of-stock">
										<input type="radio"  value="person" id="registrationTypePerson" checked name="registrationTypePerson"
										ng-model="profileCtrl.userData.registrationType"/>
										<label for="registrationTypePerson"></label>
									</div>
									Физлицо - Предприниматель
								</div>
							</div>
							<div class="fr">
								<div class="box">
									<div class="checkbox-box show-out-of-stock">
										<input type="radio" value="organizaition" id="registrationTypeOrganization" name="registrationTypeOrganization"
										ng-model="profileCtrl.userData.registrationType"/>
										<label for="registrationTypeOrganization"></label>
									</div>
									Организация
								</div>
							</div>
						</div>
						
						<div class="input-box clearfix"
							ng-class="{ 'error': userEditForm.edrpou.$dirty && userEditForm.edrpou.$error.required}">
							<label for="">Номер ЕДРПОУ или инд. номер ля физлиц</label>
							<div>
								<input type="text" name="edrpou" id="edrpou"
								ng-model="profileCtrl.userData.edrpou" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': userEditForm.fio.$dirty && userEditForm.fio.$error.required}">
							<label for="">Имя и фамилия физлица / Название организации</label>
							<div>
								<input type="text" name="fio" id="fio" ng-model="profileCtrl.userData.fio" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							class="input-box clearfix">
							<label for="">web-ресурс или итернет-магазин (если есть)</label>
							<div>
								<input type="text" name="userSiteURL" id="userSiteURL" ng-model="profileCtrl.userData.userSiteURL"/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': userEditForm.phone.$dirty && userEditForm.phone.$error.required}">
							<label for="">Номер телефона</label>
							<div>
								<input type="text" name="phone" id="phone" ng-model="profileCtrl.userData.phone" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': userEditForm.email.$dirty && userEditForm.email.$error.required || userEditForm.email.$error.pattern}">
							<label for="">E-mail почта</label>
							<div>
								<input type="email" name="email" id="email" ng-model="profileCtrl.userData.email" ng-pattern="profileCtrl.emailFormatRegex" required/>
							</div>
						</div>
						<div class="input-box clearfix"
							ng-class="{ 'error': userEditForm.declarationEmail.$dirty && userEditForm.declarationEmail.$error.required || userEditForm.declarationEmail.$error.pattern}">
							<label for="">E-mail почта для получения номеров декларации</label>
							<div>
								<input type="email" name="declarationEmail" id="declarationEmail" ng-model="profileCtrl.userData.declarationEmail" ng-pattern="profileCtrl.emailFormatRegex" required/>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-1"></div>
					<div class="col-xs-12 col-md-6">
						<div class="input-box clearfix">
							<label for="">Сфера деятельности</label>
							<br>
							<br>
							<ul>
								<li ng-repeat="service in profileCtrl.userData.providedServices">
									<div class="checkbox-box show-out-of-stock">
										<input type="checkbox"
										name="{{service.name}}"
										id="provided-service-{{service.name}}"
										ng-model="service.isChecked">
										<label for="provided-service-{{service.name}}"></label>
									</div> {{service.value}}
								</li>
							</ul>
						</div>
						<div class="input-box clearfix">
							<p>
								Укажите название и физический адрес ваших локаций, если их несколько - указывайте через запятую, также укажите все адреса ваших сайтов или интернет-магазинов, если они у вас есть:
							</p>
							<br>
							<textarea name="address" id="address" ng-model="profileCtrl.userData.address" cols="30" rows="13"></textarea>
						</div>
					</div>
					
					<!-- File upload -->
					<div class="col-xs-12 images-upload">
						<br>
						<br>
						<p>Если у вас есть физические локации, где вы реализуее свои товары и/или услуги (шиномонтаж, магазин и т.д.) - вам необходимо подтвердить их наличие, а именно загрузить от 2-х до 4-х фотографий вашего магазина. Обязательно нужно сфотографировать фасад и торговое (или сервисное  - если это шиномонтаж или автосервис) помещение.</p>

						<div class="locations-files-upload">
							<div class="file-upload-wr">
								<div ngf-drop ng-model="profileCtrl.userData.filess" ngf-change="profileCtrl.fileUpdated($files)" class="drop-box">
									<br>
									<button class="btn blue flex"
									ngf-multiple="true"
									ngf-select
									name="file"
									ng-model="profileCtrl.userData.files"
									ngf-change="profileCtrl.fileUpdated($files)"
									name="file">
									&nbsp;&nbsp;&nbsp;&nbsp;выбрать файлы&nbsp;&nbsp;
									<span ng-if="profileCtrl.uploadedFilesLength">
									| &nbsp;файлов загружено: {{profileCtrl.uploadedFilesLength}}</span>
									&nbsp;&nbsp;</button> 

									&nbsp;&nbsp;&nbsp;
									<button ng-if="profileCtrl.uploadedFilesLength" class="btn blue flex" ng-click="profileCtrl.resetFiles();">удалить загрузки</button> 
									
								</div>
							</div>
							<br>
							<p ng-if="profileCtrl.uploadedFilesLength && (profileCtrl.uploadedFilesLength < 2 || profileCtrl.uploadedFilesLength > 4)">
								Вы можете загрузить от 2-х до 4-х фотографий включительно!
							</p>
						</div>

						<div class="temp-uploaded-files" ng-if="profileCtrl.userData.files && ! profileCtrl.uploadedFilesLength">
							<br>
							Текущие фото локаций:
							<br>
							<ul>
								<li ng-repeat="file in profileCtrl.userData.files track by $index"> 
									<a href="{{file}}" fancybox>
										<div class="thumb" style="background: url({{file}}) center center no-repeat; background-size: cover;">
										<img ng-src="{{file}}" alt="">
										</div>
									</a>
								</li>
							</ul>
						</div>

					</div>

					<div class="col-xs-12">
						<div class="input-box clearfix">
							<br>
							<br>
							
							<a ui-sref="home" class="btn blue flex" style="font-size: 1.286em">Вернуться в основное меню</a>
							&nbsp;&nbsp;&nbsp;
							<button
							ng-click="!profileCtrl.updateProfile()"
							ng-disabled=" userEditForm.$invalid ||
							 (profileCtrl.userData.files && (profileCtrl.uploadedFilesLength < 2 || profileCtrl.uploadedFilesLength > 4))"
							class="btn blue flex" style="font-size: 1.286em">Сохранить изменения</button>
						</div>
						
					</div>
					
				</form>
			</div>
		</div>
		
	</div>
</div>