<div class="page-home">
  <div class="col-xs-12">
    <div class="well well-sm">
      Автоматическое обновление базы выполняется 2 раза в день
    </div>
  </div>
  <div class="col-xs-12">
    <a ng-click="dbsyncCtrl.updateDB()" class="btn btn-primary">Принудительное обновление базы</a>
    <br>
    <br>
  </div>
  
  <div class="col-xs-12">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h3 class="panel-title">Настройка синхронизации базы с GoogleDrive</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Ссылка на базу</label>
              <div class="col-lg-10">
                <input type="text"
                ng-model="globalSettingsCtrl.model.contact.phone" class="form-control" id="inputEmail" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Gmail Логин</label>
              <div class="col-lg-10">
                <input type="text"
                ng-model="globalSettingsCtrl.model.contact.email" class="form-control" id="inputEmail" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Gmail пароль</label>
              <div class="col-lg-10">
                <input type="text"
                ng-model="globalSettingsCtrl.model.contact.email" class="form-control" id="inputEmail" placeholder="">
              </div>
            </div>
          </fieldset>
        </form>
        <a class="btn btn-success" ng-click="globalSettingsCtrl.updateModel();">Сохранить</a>
        
      </div>
    </div>
  </div>
  
</div>