<div class="page-home">
	<div class="jumbotron">
		
	<h4 ng-cloak ng-show="! registeredUsersCtrl.model.users">Отсутствуют зарегистрированные пользователи</h4>

	<table class="table table-striped table-hover " ng-cloak ng-show="registeredUsersCtrl.model.users">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>ФИО</th>
	      <th>Телефон</th>
	      <th>Email</th>
	      <th> </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="user in registeredUsersCtrl.model.users track by $index">
	      <td>{{$index + 1}}</td>
	      <td>{{user.fio}}</td>
	      <td>{{user.phone}}</td>
	      <td>{{user.email}}</td>
	      <td>
	      	<a ui-sref="home.registeredUserInfo({userID: user.ID})" class="btn btn-primary btn-sm">Подробнее</a>
	      </td>
	    </tr>
	  </tbody>
	</table> 

	</div>
</div>