$transition: 0.3s;

$font-color: #2f2f2f;

$color-form: #009999;

$color-blue: #009999;
$color-light-blue: #178695;

$color-green: #8fc059;
$color-light-green: #d0e4b2;

$color-red: #b00c0c;
$color-light-red: #dab0b0;