@import 'variables';

html,
body
{
    font-family: Tahoma, Geneva, sans-serif !important;
    // Base font size
    font-size: 16px !important;
    font-weight: 400;

    overflow-x: hidden !important;

    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    // font-size: inherit;
    // font-weight: inherit;
    margin: 0;
}
*
{
    outline: none !important;
}
img
{
    max-width: 100%;
}
a
{
    cursor: pointer;
}
p
{
    line-height: 1.6em;
}
.align-center
{
    text-align: center;
}
.align-right
{
    text-align: right;
}
.align-left
{
    text-align: left;
}
.pl0
{
    padding-left: 0 !important;
}
.pr0
{
    padding-right: 0 !important;
}
.clearfix:after
{
    display: table;
    clear: both;

    content: ' ';
}
.centered-bootstrap-cell
{
    float: none !important;

    margin: 0 auto;
}
.cursor-pointer
{
    cursor: pointer;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
.table
{
    display: table;

    width: 100%;
    margin: 0;
    .cell
    {
        display: table-cell;
        float: none;

        vertical-align: middle;
    }
}
.app-content
{
    min-height: 90%;
    min-height: 90vh;
    padding: 2em 0;
}
.container
{
    width: 95% !important;
}

// Header
header .navbar-header .navbar-brand
{
    padding: 10px;
    img
    {
        max-height: 100%;
    }
}

// Footer
footer .navbar
{
    margin-bottom: 0;

    box-shadow: 0 -1px 2px rgba(0,0,0,.3);
    .navbar-header .navbar-brand
    {
        padding: 10px;
        img
        {
            max-height: 100%;
        }
    }
}

.cms-navigation
{
    padding: 1em;

    background: #f3f3f3;
}



/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner
{
    -webkit-transition: 350ms linear all;
       -moz-transition: 350ms linear all;
         -o-transition: 350ms linear all;
            transition: 350ms linear all;
            pointer-events: none;

    -webkit-pointer-events: none;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active
{
    opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave
{
    opacity: 1;
}

#loading-bar .bar
{
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;

    -webkit-transition: width 350ms;
       -moz-transition: width 350ms;
         -o-transition: width 350ms;
            transition: width 350ms;

    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background: #28b62c;
}

/* Fancy blur effect */
#loading-bar .peg
{
    position: absolute;
    top: 0;
    right: 0;

    width: 70px;
    height: 2px;

    opacity: .45;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: #28b62c 1px 0 6px 1px;
       -moz-box-shadow: #28b62c 1px 0 6px 1px;
            box-shadow: #28b62c 1px 0 6px 1px;

        -ms-box-shadow: #28b62c 1px 0 6px 1px;
}

#loading-bar-spinner
{
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;

    display: block;
}

#loading-bar-spinner .spinner-icon
{
    width: 14px;
    height: 14px;

    -webkit-animation: loading-bar-spinner 400ms linear infinite;
       -moz-animation: loading-bar-spinner 400ms linear infinite;
        -ms-animation: loading-bar-spinner 400ms linear infinite;
         -o-animation: loading-bar-spinner 400ms linear infinite;
            animation: loading-bar-spinner 400ms linear infinite;

    border: solid 2px transparent;
    border-top-color: #28b62c;
    border-left-color: #28b62c;
    border-radius: 50%;
}

@-webkit-keyframes loading-bar-spinner
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes loading-bar-spinner
{
    0%
    {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    100%
    {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}
@-o-keyframes loading-bar-spinner
{
    0%
    {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    100%
    {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
@-ms-keyframes loading-bar-spinner
{
    0%
    {
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    100%
    {
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}
@keyframes loading-bar-spinner
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}


// Angular textEditor on edit outline fix
div[contenteditable='true']
{
    outline: none !important;
}

// https://github.com/alexcrack/angular-ui-notification
@import '../../../../node_modules/angular-ui-notification/dist/angular-ui-notification.min.css';
@import '../../../../node_modules/angular-loading-bar/build/loading-bar.min.css';




.page-account-approvement
{
    .account-approvement-table
    {
        tbody
        {
            tr
            {
                td
                {
                    width: 40%;
                }
            }
        }
    }
    .location-photos
    {
        .items-set
        {
            .item
            {
                padding: 15px;
                &:nth-child(3n+1)
                {
                    clear: left;
                }
            }
        }
    }
}
