<div class="page-home">
	<div class="container">
		<div class="search-filters col-xs-12 col-md-4">
		<auth-state></auth-state>
		
		<div class="search-form-box">
			<form action="">
				<div class="keyword-box">
					<input type="text" placeholder="введите название нужной позиции">
				</div>
				<br>
				<span class="colored">или используйте фильтр по параметрам:</span>
				<br>
				<br>
				<div class="filters">
					<div class="select-box clearfix">
						<div class="selects-row clearfix">
							<div class="-row col-xs-12 col-md-6">
								<div class="value-box">Диаметр <span class="value">16</span></div>
								<ui-select ng-model="selected.value1">
								<ui-select-match>
								<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (homeCtrl.itemArray | filter: $select.search) track by item.id">
								<span ng-bind="item.name"></span>
								</ui-select-choices>
								</ui-select>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="value-box">Ширина <span class="value">16</span></div>
								<ui-select ng-model="selected.value2">
								<ui-select-match>
								<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (homeCtrl.itemArray | filter: $select.search) track by item.id">
								<span ng-bind="item.name"></span>
								</ui-select-choices>
								</ui-select>
							</div>
						</div>
						
						<div class="selects-row clearfix">
							<div class="col-xs-12">
								<div class="value-box">Количество крепежных отверстий <span class="value">6</span></div>
								<div class="col-xs-12 col-md-6 pl0">
									<ui-select ng-model="selected.value3">
									<ui-select-match>
									<span ng-bind="$select.selected.name"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (homeCtrl.itemArray | filter: $select.search) track by item.id">
									<span ng-bind="item.name"></span>
									</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="selects-row clearfix">
							<div class="-row col-xs-12 col-md-6">
								<div class="value-box">Разболтовка <span class="value">130</span></div>
								<ui-select ng-model="selected.value4">
								<ui-select-match>
								<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (homeCtrl.itemArray | filter: $select.search) track by item.id">
								<span ng-bind="item.name"></span>
								</ui-select-choices>
								</ui-select>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="value-box">ЦО <span class="value">все</span></div>
								<ui-select ng-model="selected.value5">
								<ui-select-match>
								<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (homeCtrl.itemArray | filter: $select.search) track by item.id">
								<span ng-bind="item.name"></span>
								</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="selects-row small-inputs clearfix">
							<div class="col-xs-12">
								<span class="floated">Вылет от</span>
								<input type="text" class="small" placeholder="все">
								&nbsp;
								&nbsp;
								до
								&nbsp;
								&nbsp;
								<input type="text" class="small"  placeholder="все">
							</div>
						</div>
						<div class="selects-row checkbox-row clearfix">
							<div class="padding-box col-xs-12">
								<div class="checkbox-box show-out-of-stock">
									<input type="checkbox" value="None" id="squaredOne1" name="check1" />
									<label for="squaredOne1"></label>
								</div>
								Показать позиции под заказ
							</div>
						</div>
						<br>
						<div class="selects-row btns">
							<div class="col-xs-12 col-md-6">
								<a href="" class="btn reset">сбросить фильтр</a>
							</div>
							<div class="col-xs-12 col-md-6">
								<a href="" class="btn search">найти</a>
							</div>
						</div>
						
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="search-results col-xs-12 col-md-8">
		<div class="item" ng-repeat="item in homeCtrl.model.products track by $index">
			<div class="table">
				<div class="thumb cell col-xs-12 col-md-2">
					<a ng-attr-href="{{item.thumburl}}" fancybox use-fancybox="item.thumburl ? true : false">
						<img img-err-check ng-src="{{item.thumburl || ' '}}" alt="">
					</a>
				</div>
				<div class="info cell col-xs-12 col-md-7">
					<div class="pinned-to-top">
						<h3 class="name">{{item.name}}</h3>
						<!-- AUTEC Quantro Schwarz polished 6.5x16 -->
						<p class="characteristic">
							6x130x84.1 et 62
						</p>
					</div>
					<div class="price">
						108 EUR / 3200 грн
					</div>
				</div>
				<div class="btns cell col-xs-12 col-md-3">
					<div class="btn-box">
						<a href="" class="btn in-stock">в наличии</a>
					</div>
					<div class="spacer"></div>
					<div class="btn-box">
						<a href="" class="btn purchase">Купить</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>