<footer>
	<div class="container">
		<div class="clearfix">
			<div class="table">

				<div class="item cell col-xs-12 col-md-3">
					<a href="/">
						<img class="logo" src="/app/assets/img/logo.png" alt="">
					</a>
				</div>

				<div class="item cell navigation  col-xs-12 col-md-5">
					<ul>
						<li class="col-xs-12 col-md-6">
							<a ui-sref="home" ui-sref-active="active">Главная</a>
						</li>
						<li class="col-xs-12 col-md-6">
							<a href="" ui-sref-active="active">Фотогалерея</a>
						</li>
						<li class="col-xs-12 col-md-6">
							<a href="" ui-sref-active="active">Новости</a>
						</li>
						<li class="col-xs-12 col-md-6">
							<a href="" ui-sref-active="active">Контакты</a>
						</li>
						<li class="col-xs-12 col-md-6">
							<a href="" ui-sref-active="active">Реставрация дисков</a>
						</li>

					</ul>
				</div>

				<div class="item cell social align-right col-xs-12 col-md-4">
					<div class="stats">
						<a href="//www.liveinternet.ru/click" target="_blank">
							<img src="/app/assets/img/stats.png" alt="">
						</a>
					</div>
					<ul>
						<li>
							<a href="http://vk.com/" target="_blank">
								<i class="fa fa-vk"></i>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/koleso.cv/" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com" target="_blank">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/" target="_blank">
								<i class="fa fa-youtube"></i>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>    
	</div>
</footer>