<footer>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="col-xs-12">
	    	<div class="navbar-header">
		     
		      <a class="navbar-brand" href="#">
		      	<img src="/cms/app/assets/img/logo.png" alt="">
		      </a>
		    </div>

		 
	    </div>
	  </div>
	</nav>
</footer>