<div class="page-login">
	<div class="container">
		<h1 class="page-title"> <img src="/app/assets/img/icons/user-icon-gray.png" alt="">Вход в систему</h1>
		
		<div class="centered-bootstrap-cell col-xs-12 col-sm-10 col-md-8 col-lg-6">
			<div class="login-form form-box">


				<form name="loginForm" ng-submit="loginCtrl.login()">
					<div class="input-box table" ng-class="{ 'has-error': loginForm.username.$dirty && form.username.$error.required }">
						<div class="cell">
							<label>Логин</label>
						</div>
						<div class="cell">
							<input name="username" id="username" ng-model="loginCtrl.credentials.username" required type="text">
						</div>
					</div>
					<div class="input-box table" ng-class="{ 'has-error': loginForm.password.$dirty && form.password.$error.required }">
						<div class="cell">
							<label for="">Пароль</label>
						</div>
						<div class="cell">
							<input name="password" id="password" ng-model="loginCtrl.credentials.password" required type="password">
						</div>
					</div>
					
					<div class="input-box table">
						<div class="cell"></div>
						<div class="cell">
							<div class="links clearfix">
								<a ng-click="loginCtrl.restorePassword()">Забыл пароль</a>
								&nbsp;
								&nbsp;
								&nbsp;
								<a ui-sref="register">Регистрация</a>
							</div>
							 <button type="submit" ng-disabled="loginForm.$invalid" class="btn blue">Войти</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</div>