html,
body
{
    font-family: Tahoma, Geneva, sans-serif !important;
    // Base font size
    font-size: 16px !important;
    font-weight: 400;

    overflow-x: hidden !important;

    color: $font-color;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: inherit;
    font-weight: inherit;

    margin: inherit;
}
*
{
    outline: none !important;
}
img
{
    max-width: 100%;
}
a
{
    cursor: pointer;
}
p
{
    line-height: 1.6em;
}
.align-center
{
    text-align: center;
}
.align-right
{
    text-align: right;
}
.align-left
{
    text-align: left;
}
.pl0{
    padding-left: 0 !important;
}
.pr0{
    padding-right: 0 !important;
}
.clearfix:after
{
    display: table;
    clear: both;

    content: ' ';
}
.centered-bootstrap-cell
{
    float: none !important;

    margin: 0 auto;
}
.cursor-pointer
{
    cursor: pointer;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.table
{
    display: table;

    width: 100%;
    margin: 0;
    .cell
    {
        display: table-cell;
        float: none;

        vertical-align: middle;
    }
}
.app-content
{
    min-height: 70%;
    min-height: 70vh;
    padding: 2em 0;
}
.logo
{
    cursor: pointer;
    transition: opacity $transition ease-in-out;

    opacity: 1;
    &:hover
    {
        opacity: .6;
    }
}

.hover-underline
{
    position: relative;

    display: inline-block;
    &:after
    {
        position: absolute;
        bottom: -.2em;
        left: 0;

        display: block;

        width: 0;
        height: 2px;

        content: '';
        transition: width $transition ease-in-out;

        background: rgba(0,0,0,.15);
    }
    &:hover
    {
        &:after
        {
            width: 3em;
        }
    }
}

.btn
{
    display: inline-block;

    width: 8.000em; //128px
    padding: .8em 0;

    cursor: pointer;
    transition: background $transition ease-in-out,
    color $transition ease-in-out,
    border $transition ease-in-out;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: none;
    &[disabled="disabled"]{
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }
    &.flex{
        width: auto;
        padding: .8em 2.500em;
    }
    &.in-stock
    {
        cursor: default;
        color: $color-green;
        border: 1px solid $color-light-green;
        // &:hover
        // {
        //     color: #fff;
        //     border: 1px solid $color-green;
        //     background: $color-green;
        // }
    }
    &.purchase, &.blue
    {
        color: #fff;
        background: $color-blue;
        &:hover
        {
            background: $color-green;
        }
    }
    &.out-of-stock
    {
        cursor: default;
        color: $color-red;
        border: 1px solid $color-light-red;
        // &:hover
        // {
        //     color: #fff;
        //     border: 1px solid $color-red;
        //     background: $color-red;
        // }
    }
    &.reset{
        color: #669999;
        border: 1px solid #666666;
        &:hover
        {
            color: #fff;
            border: 1px solid $color-green;
            background: $color-green;
        }
    }
    &.search{
        color: #fff;
        background: $color-blue;
        &:hover
        {
            background: $color-green;
        }
    }
}

.checkbox-box
{
    display: inline-block;
    margin-right: 0.5em;
    position: relative;

    width: 18px !important;
    height: 18px !important;
    background: #fff;
    box-shadow: none;
    border: 1px solid #999999;
    transform: translateY(4px);
    input{
         width: 18px !important;
    height: 18px !important;
    }
    label
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 18px;
        height: 18px;

        cursor: pointer;

        box-shadow: none;
        &:after
        {
            position: absolute;
            top: 3px;
            left: 3px;
            margin: auto;

            width: 10px;
            height: 10px;

            content: '';

            opacity: 0;
            background: $color-blue;
            box-shadow: none;
        }
    }
    input[type=checkbox],   input[type=radio]
    {
        visibility: hidden;
        &:checked + label:after
        {
            opacity: 1;
        }
    }
}
