footer
{
    padding: 4em 0 1.5em 0;
    a
    {
        transition: color $transition ease-in-out;

        color: $font-color;
        &:hover
        {
            color: $color-blue;
        }
    }
    .item
    {
        &.navigation
        {
            ul
            {
                li
                {
                    padding-top: .2em;
                    padding-bottom: .2em;
                    a{
                        @extend .hover-underline;
                        &.active{
                            color: $color-blue;
                        }
                    }
                }
            }
        }
        &.social
        {
            $diameter: 2.500em;
            .stats
            {
                display: inline-block;

                padding-right: 1.750em;
                img
                {
                    cursor: pointer;
                    transition: opacity $transition ease-in-out;
                    &:hover
                    {
                        opacity: .6;
                    }
                }
            }
            ul
            {
                display: inline-block;
                li
                {
                    display: inline-block;

                    padding: 0 .4em;
                    a
                    {
                        line-height: $diameter + .1em;

                        display: inline-block;

                        width: $diameter;
                        height: $diameter;

                        transition: background $transition ease-in-out;
                        text-align: center;
                        vertical-align: middle;

                        color: #fff;
                        border-radius: 50%;
                        background: $color-blue;
                        i
                        {
                            font-size: 1.3em;
                        }
                        &:hover
                        {
                            background: #c9c9c9;
                        }
                    }
                }
            }
        }
    }
}
