header
{
    .menu
    {
        padding: 2em 0;
        .table
        {
            width: auto;
        }
        a
        {
            transition: color $transition ease-in-out;

            color: $font-color;

            @extend .hover-underline;
            &:hover
            {
                color: $color-blue;
            }
            &.active
            {
                color: $color-blue;
            }
        }
        .logo
        {
            display: inline-block;

            padding-right: 5em;
        }
        ul
        {
            display: inline-block;
            li
            {
                display: inline-block;

                padding: 0 1.5em;
            }
        }
    }
    @keyframes bounce
    {
        0%,
        20%,
        50%,
        80%,
        100%
        {
            transform: translateY(-2px);
        }
        40%
        {
            transform: translateY(-10px);
        }
        60%
        {
            transform: translateY(-4px);
        }
    }
    .header-nav
    {
        padding: 1.4em 0;

        border: 1px solid #4f4f4f;
        background: url(/app/assets/img/header-nav-bg.jpg) center center no-repeat;
        background-size: cover;
        .item
        {
            a
            {
                font-size: .938em; //15px

                position: relative;

                transition: color $transition ease-in-out;
                text-transform: uppercase;

                color: #f5f5f5;
                &:hover
                {
                    img
                    {
                        animation: bounce $transition*2 ease-in-out;
                    }
                }
                &.active
                {
                    color: $color-blue;
                }
            }
            img
            {
                display: inline-block;

                padding-right: .65em;

                transform: translateY(-2px);
            }
        }
    }
}
