@mixin gradient($type, $direction-quoted)
{
    $direction: unquote($direction-quoted);
    @if ($type== 'orange')
    {
        background-image: -webkit-linear-gradient($direction, rgb(255,46,71) 0%, rgb(255,78,0) 100%);
        background-image:      -o-linear-gradient($direction, rgb(255,46,71) 0%, rgb(255,78,0) 100%);
        background-image:         linear-gradient($direction, rgb(255,46,71) 0%, rgb(255,78,0) 100%);
        
    }
    @if ($type== 'blue')
    {
        background-image: -webkit-linear-gradient($direction, rgb(44,205,243) 0%, rgb(111,213,255) 100%);
        background-image:      -o-linear-gradient($direction, rgb(44,205,243) 0%, rgb(111,213,255) 100%);
        background-image:         linear-gradient($direction, rgb(44,205,243) 0%, rgb(111,213,255) 100%);
    }
    @if ($type== 'green')
    {
        background-image: -webkit-linear-gradient($direction, rgb(44,231,153) 0%, rgb(103,225,209) 100%);
        background-image:      -o-linear-gradient($direction, rgb(44,231,153) 0%, rgb(103,225,209) 100%);
        background-image:         linear-gradient($direction, rgb(44,231,153) 0%, rgb(103,225,209) 100%);
    }
    @if ($type== 'pink')
    {
        background-image: -webkit-linear-gradient($direction, rgb(255,35,59) 0%, rgb(255,38,171) 100%);
        background-image:      -o-linear-gradient($direction, rgb(255,35,59) 0%, rgb(255,38,171) 100%);
        background-image:         linear-gradient($direction, rgb(255,35,59) 0%, rgb(255,38,171) 100%);
    }
}

@mixin img-fit-wrapper()
{
    position: relative;
    top: 50%;
    left: 50%;

    display: block;

    width: auto;
    min-width: 100%;
    max-width: 150%;
    height: auto;
    min-height: 100%;
    max-height: none;
    width: 100%;

    transform: translate(-50%, -50%);
}
