.page-login
{
    .page-title
    {
        font-size: 1.875em;

        padding-bottom: 0.5em;

        text-align: center;

        color: #333333;
        img
        {
            padding-right: .5em;

            transform: translateY(-4px);
        }
    }
    // TODO move to .form-box
    .login-form
    {
        .table
        {
            table-layout: fixed;
            & > .cell:first-child
            {
                width: 6em;
            }
        }
        label
        {
            font-size: 1.125em;

            color: #666;
        }
        .input-box
        {
            padding: .6em 0;
        }
        input
        {
            height: 38px;

            border: 1px solid #aaa !important;
        }
        input:not(.select2-input),
        textarea:not(.select2-input)
        {
            display: inline-block;

            width: 100%;
            padding: 0 8px;

            color: #666;
            border: none;
            outline: none;
            background: #fff;
            box-shadow: none;
            ::-webkit-input-placeholder
            {
                /* Chrome/Opera/Safari */
                color: #666;
            }
            ::-moz-placeholder
            {
                /* Firefox 19+ */
                color: #666;
            }
            :-ms-input-placeholder
            {
                /* IE 10+ */
                color: #666;
            }
            :-moz-placeholder
            {
                /* Firefox 18- */
                color: #666;
            }
        }
        .links
        {
            padding-bottom: 1.375em;
            a
            {
                font-size: .875em;

                display: inline-block;

                transition: border-bottom $transition ease-in-out;

                color: $color-blue;
                border-bottom: 1px solid $color-blue;
                &:hover
                {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
}
