<div class="page-home">
	<div class="jumbotron">
		
	<h4 ng-cloak ng-show="! accountApprovementCtrl.model.requests">Отсутствуют новые запросы</h4>

	<table class="table table-striped table-hover " ng-cloak ng-show="accountApprovementCtrl.model.requests">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>ФИО</th>
	      <th>Телефон</th>
	      <th>Email</th>
	      <th> </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="request in accountApprovementCtrl.model.requests track by $index">
	      <td>{{$index + 1}}</td>
	      <td>{{request.fio}}</td>
	      <td>{{request.phone}}</td>
	      <td>{{request.email}}</td>
	      <td>
	      	<a ui-sref="home.accountApprovementEdit({requestID: request.ID})" class="btn btn-primary btn-sm">Подробнее</a>
	      </td>
	    </tr>
	  </tbody>
	</table> 

	</div>
</div>