<div class="auth-state">
    <div class="table">
        <div class="cell">
            <img src="/app/assets/img/icons/user-icon-gray.png" alt="">
        </div>
        <div class="cell" ng-if="authStateCtrl.userData">
            <div class="user">
                <a ui-sref="profile" class="user-cabinet">
                    <span class="underline">{{authStateCtrl.userData.fio}}</span>
                </a> 
                <a ng-click="authStateCtrl.logout()" class="logout">
                    <img src="/app/assets/img/icons/logout-icon.png" alt="">
                </a>
            </div>
            <div class="siteUrl" ng-if="authStateCtrl.userData">
                <a ui-sref="profile">
                    Редактировать анкетные данные
                </a>
            </div>
            <div class="siteUrl" ng-if="authStateCtrl.userData.userSiteURL">
                <a href="{{authStateCtrl.userData.userSiteURL}}" target="_blank">
                    {{authStateCtrl.userData.userSiteURL}}
                </a>
            </div>
        </div>
        <div class="cell" ng-if="! authStateCtrl.userData && !authStateCtrl.isUserAdmin">
            <div class="user">
                <a ui-sref="login" class="user-cabinet">
                    <span class="underline">Вход</span>
                </a> 
                <a ui-sref="register" class="user-cabinet">
                    <span class="underline">Регистрация</span>
                </a>
            </div>
        </div>
         <div class="cell" ng-if="! authStateCtrl.userData && authStateCtrl.isUserAdmin">
            <div class="user">
                <a href="/cms" class="user-cabinet">
                    <span class="underline">Администратор</span>
                </a> 
                <a ng-click="authStateCtrl.logout()" class="logout" title="Выйти">
                    <img src="/app/assets/img/icons/logout-icon.png" alt="">
                </a>
            </div>
            <div class="siteUrl">
                <a href="/cms">
                    Cистема администрирования
                </a>
            </div>
        </div>
    </div>
</div>