<div class="page-account-approvement">
  <div class="back-btn">
    <a ui-sref="home.accountApprovement" class="btn btn-primary"><i class="fa fa-angle-left"></i> Назад</a>
    <br>
    <br>
  </div>
  <div class="jumbotron clearfix">
    <div class="col-xs-12">
      <table class="table  account-approvement-table table-striped table-hover ">
        <thead>
          <tr>
            <th>Название</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Тип регистрации: </td>
            <td>{{accountApprovementEditCtrl.model.request.registrationType}}</td>
          </tr>
          <tr>
            <td>Номер ЕДРПОУ или инд. номер ля физлиц: </td>
            <td>{{accountApprovementEditCtrl.model.request.edrpou}}</td>
          </tr>
          <tr>
            <td>Имя и фамилия физлица / Название организации: </td>
            <td>{{accountApprovementEditCtrl.model.request.fio}}</td>
          </tr>
          <tr>
            <td>web-ресурс или итернет-магазин (если есть): </td>
            <td>{{accountApprovementEditCtrl.model.request.userSiteURL}}</td>
          </tr>
          <tr>
            <td>Номер телефона: </td>
            <td>{{accountApprovementEditCtrl.model.request.phone}}</td>
          </tr>
          <tr>
            <td>E-mail почта: </td>
            <td>{{accountApprovementEditCtrl.model.request.email}}</td>
          </tr>
          <tr>
            <td>E-mail почта для получения номеров декларации: </td>
            <td>{{accountApprovementEditCtrl.model.request.declarationEmail}}</td>
          </tr>
          <tr>
            <td>Сфера деятельности: </td>
            <td>
              <span ng-repeat="item in accountApprovementEditCtrl.model.request.providedServices" ng-show="item.isChecked">{{item.value}} <br></span>
            </td>
          </tr>
          <tr>
            <td>Название и физический адрес локаций: </td>
            <td>{{accountApprovementEditCtrl.model.request.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="location-photos col-xs-12" ng-if="accountApprovementEditCtrl.model.request.files && accountApprovementEditCtrl.model.request.files.length > 0">
    <br>
      Фотографии локаций:
      <br>
      <div class="items-set">
        <div class="item col-xs-12 col-md-4" ng-repeat="file in accountApprovementEditCtrl.model.request.files">
          <a href="{{file}}"  fancybox>
            <img ng-src="{{file}}" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <br>
      <br>
      <a ng-click="accountApprovementEditCtrl.rejectRequest()" class="btn btn-danger">Отменить</a> &nbsp; <a ng-click="accountApprovementEditCtrl.approveRequest()" class="btn btn-success">Подтвердить регистрацию</a>
    </div>
  </div>
</div>